body {
  font-size: 16px;
  background: #121214 !important;
  height: 100%;
}

tbody.table {
  width: 100%;
}

tbody.table th, tbody.table td {
  color: rgba(255, 255, 255, 0.56);
  border: none;
  text-align: center;
  padding: 10px 8px;
  font-size: 18px;
  vertical-align: middle !important;
  border-right: solid 1px #2A2A2F;
  border-left: solid 1px #2A2A2F;
}

th {
  color: #fff !important;
  background: #2A2A2F !important;
}

tr {
  background: #1b1d23;
}

tr:nth-child(odd) { background-color: #1B1B1E !important; }

border-radius: 5px;
details[open] div {
  animation: spoiler 1s;
}
@keyframes spoiler {
  0%   {opacity: 0;}
  100% {opacity: 1;} 
}

summary {
  font-weight: 600;
  color: #1A7BEE;
  transition: 0.2s;
}

summary:hover {
  cursor: pointer;
  opacity: 0.85;
}

details summary::-webkit-details-marker {
  display: none;
}

h1 {
  color:#212121;
  text-align: center; 
}

.custom-file-upload {
  background: #ECEFF1;
  border: none;
  font-size: 17px;
  border-radius: 3px;
  padding: 12px 17px;
  margin-bottom: 7px;
}

.thx_a {
  text-decoration: none;
  box-shadow: 0 2px 7px 0 #fff;
  color: #fff;
  border-radius: 5px;
  padding: 17px 25px !important;
  font-size: 21px;
  font-weight: 600;
  transition: 0.5s;
  background:#43A047;
}

.thx_a:hover {
  text-decoration: none;
  background: #00796B;
  color: #BDBDBD;
}

.thx {
  display: block;
  position: relative;
  margin: auto 0;
  margin-bottom: 100px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: top 0s .7s, opacity .7s 0s;
  transition: top 0s .7s, opacity .7s 0s;
}

.modal:target {
  top: 0;
  opacity: 1;
  -webkit-transition: none;
  transition: none;
}

.modal figure {
  width: 100%;
  max-width: 530px;
  position: relative;
  padding: 1.8em;
  opacity: 0;
  background-color: white;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

figure > div {
  margin-top: 6px;
  font-size: 18px;
}

.successFastAdd {
  color: green;
  font-weight: 600;
}

.modal.example figure {
  background: #f9f5f5;
  border-radius: 4px;
  padding-top: 8px;
  box-shadow: 0px 3px 5px 1px #424242;
}

.modal.example figure h2 {
  margin-top: 0;
  padding-bottom: 3px;
  border-bottom: 1px solid #dcd7d7;
}

.modal:target figure {
  opacity: 1;
}

.modal.example .compatibg-ukastywise {
  text-decoration: none;
  position: absolute;
  right: 8px;
  top: -9px;
  font-size: 41px;
  transition: 0.3s;
  color: #9E9E9E;
}

.compatibg-ukastywise:hover {
  color: #ef5350 !important;
}

.modal .nedismiseg {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(10, 10, 10, 0.37);
  content: "";
  cursor: default;
  visibility: hidden;
}

.modal:target .nedismiseg {
  visibility: visible;
}

.closeSettings {
  margin-top: 15px;
  float: left;
}

.retryFastAdd {
  margin-top: 15px;
  float: right;
}

.authvk {
  color: #42A5F5;
  transition: 0.3s;
  background: none;
  box-shadow: none;
  padding: 0;
}

.authvk:hover {
  color: #1976D2;
  transform: none;
}

.container {
  margin-top: 70px;
  background: #1B1B1E;
  padding: 15px;
  border-radius: 5px;
}

.tablinks {
  display: block;
  height: 50px;
  width: 50px;
  color: rgba(255, 255, 255, 0.56);
  background: #2A2A2F;
  font-size: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 10px;
}

.tablinks:focus {
  outline: 0;
}

.tablinks:hover {
  opacity: 0.85;
}

.selectsite {
  width: 100%;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.56);
  background: #2A2A2F;
  margin-right: 10px; 
  padding: 9px 12px;
  font-size: 18px;
  outline: none;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 2px;
}

.selectsite:focus {
  outline: 0;
}

.selectsite:hover {
  opacity: 0.85;
}

.active {
  background: #1A7BEE;
  color: #fff;
  width: 150px;
}

.activeList {
  background: #1A7BEE;
  color: #fff;
}


.active span {
  display: inline !important;
}

.active i {
  float: left;
  margin-left: 8px;
}

select {
  cursor: pointer;
}

select, input {
  width: 100%;
  display: block;
  background-color: #2A2A2F;
  border: none;
  border-radius: 2px;
  height: 48px;
  font-size: 17px !important;
  padding: .375rem .9rem;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

input[type="checkbox"] {
  display: inline;
  width: initial;
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}

button[type="submit"] {
  color: rgba(255, 255, 255, 0.56);
  background: #2A2A2F;
  margin-right: 10px; 
  padding: 9px 12px;
  font-size: 18px;
  outline: none;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

button[type="submit"]:hover {
  opacity: 0.85;
}

button[type="submit"]:focus {
  outline: 0;
  background: #1A7BEE;
  color: #fff;
}

select:focus, input:focus {
  border-bottom: solid 2px #1A7BEE;
  outline: 0;
}

p, form, label, details {
  font-size: 19px;
}

.form-group label {
  position: relative;
  color: rgba(255, 255, 255, 0.56);
  font-size: 15px;
  top: auto;
  left: auto;
}

.help {
  content: url(../svg/help.svg);
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.plus {
  content: url(../svg/plus.svg);
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.list {
  content: url(../svg/list.svg);
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.settings {
  content: url(../svg/settings.svg);
  width: 17px;
  height: 17px;
  margin-right: 5px;
}